<header class="logo-header">
    <img class="logo" src="images/cmd-jobs-logo.png" alt= "CMD-JOBS Logo">
    <a href="/loguit"><img class="logoff" src="images/logoff.svg" alt="Log uit"></a>
</header>