<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/output/main.css">
    <title>CMD JOBS</title>
</head>

<body>
    {{{body}}}

    <script src="scripts/javascript.js"></script>

</body>

</html>