{{> logo-header}}

<main class="profielToevoegen">
    <form action="/addProfile" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Persoonlijke info</legend>
            <label for="prPic" class="prPic">
                <div>
                    <img id="profilePic" src="/images/blankProfile.png">
                    <span><img src="/images/upload.svg"></span>
                </div>
                <span>
                    <img src="/images/camera.svg">
                    <p>Profiel foto wijzigen</p>   
                </span>
            </label>
            <input id="prPic" type="file" name="prPic" accept="image/*" required>

            <label for="fname">Voornaam:</label>
            <input id="fname" type="text" name="fname" required>

            <label for="lname">Achternaam:</label>
            <input id="lname" type="text" name="lname" required>

            <label for="city">Woonplaats:</label>
            <input id="city" type="text" name="city" required>

            <label for="opleidingsNiveau">Opleidingsniveau:</label>
            <select id="opleidingsNiveau" name="opleidingsNiveau" required>
                <option>Kies:</option>
                <option value="MBO">MBO</option>
                <option value="HBO">HBO</option>
                <option value="Universiteit">Universiteit</option>
            </select>
        </fieldset>
        

        <fieldset>
            <legend>Voorkeuren</legend>
            
            <label for="Functie">Functie:</label>
            <select id="Functie" name="Functie" required>
                <option>Kies:</option>
                <option value="FrontendDevelopment">Frontend Development</option>
                <option value="ContentManagement">Content Management</option>
                <option value="VisualInterfaceDesign">Visual Interface Design</option>
                <option value="ProjectManagement">Project Management</option>
                <option value="InteractionDesign">Interaction Design</option>
                <option value="UXDesign">UX Design</option>
                <option value="BackendDevelopment">Backend Development</option>
                <option value="Research">Research</option>        
            </select>

             <select id="Functie" name="Functie" required>
                <option>Kies:</option>
                <option value="FrontendDevelopment">Frontend Development</option>

            <input type="submit" value="Opslaan">
        </fieldset>
    </form>

    <a id="buttonVolgende" href="#">Volgende</a>
    
</main>

<script src="scripts/profielToevoegen.js"></script>