{{> logo-header}}

<main class="profielToevoegen">
    <form action="/addProfile" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Persoonlijke info</legend>
            <label for="prPic" class="prPic">
                <div>
                    <img id="profilePic" src="/images/blankProfile.png">
                    <span><img src="/images/upload.svg"></span>
                </div>
                <span>
                    <img src="/images/camera.svg">
                    <p>Profiel foto wijzigen</p>   
                </span>
            </label>
            <input id="prPic" type="file" name="prPic" accept="image/*">

            <label for="fname">Voornaam:</label>
            <input id="fname" type="text" name="fname" placeholder="Lieke" required>

            <label for="lname">Achternaam:</label>
            <input id="lname" type="text" name="lname" placeholder="de Groot" required>

            <label for="city">Woonplaats:</label>
            <input id="city" type="text" name="city" placeholder="Amsterdam" required>

            <label for="age">Leeftijd:</label>
            <input id="age" type="number" name="age" placeholder="20" required>

            <input type="submit" value="Opslaan">
        </fieldset>
    </form>
</main>