{{> logo-header}}

<main class="profiel-pagina">
    <header class="profiel-foto">
        <img src="images/profiel-foto-mockup.png" alt="">
        {{!-- <img src="images/test.png" alt=""> --}}
        <h1>Yunus Emre Alkan</h1>

        <p id="bewerk-knop">Bewerk profiel</p>

    </header>


    {{!-- <section class="profiel-biografie">
        <div class="profiel-flex">
            <p>Biografie</p>
            <svg viewBox="0 0 512.001 512.001">
                <g>
                    <path
                        d="m422.755 4.393c-5.853-5.854-15.357-5.858-21.213 0l-354.702 354.701c-.006.007-.014.012-.02.019-1.652 1.653-2.931 3.787-3.623 5.864l-42.427 127.279c-1.797 5.39-.394 11.332 3.624 15.35 4.039 4.039 9.989 5.412 15.35 3.624l127.279-42.426c2.195-.73 4.34-2.101 5.863-3.624l354.721-354.721c5.858-5.858 5.858-15.355 0-21.213zm-280.475 428.967-63.64-63.64 269.869-269.868 63.64 63.64zm-78.297-35.872 50.53 50.53-75.795 25.264zm369.378-255.209-63.64-63.64 42.427-42.427 63.64 63.64z" />
                    <path
                        d="m359.115 152.885c-5.857-5.858-15.355-5.858-21.213 0l-206.228 206.229c-5.858 5.858-5.858 15.355 0 21.213 5.857 5.858 15.355 5.859 21.213 0l206.229-206.229c5.857-5.858 5.857-15.355-.001-21.213z" />
                </g>
            </svg>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit accusamus quidem corrupti quae, est neque ipsum
            voluptate. Praesentium, sit mollitia! Voluptate qui eos tempore minus vitae nihil, animi repellat non?</p>
    </section>

    <section class="profiel-biografie">
        <div class="profiel-flex">
            <p>Biografie</p>
            <p id="aanpassen">Aanpassen</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit accusamus quidem corrupti quae, est neque ipsum
            voluptate. Praesentium, sit mollitia! Voluptate qui eos tempore minus vitae nihil, animi repellat non?</p>
    </section> --}}







    <form class="profiel-gegevens" action="/profiel" enctype="multipart/form-data" method="post">

        <div class="biografie">
            <label for="biografie">Biografie</label>
            <textarea name="biografie" rows="5"
                required>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit provident temporibus facere eos voluptate quibusdam doloremque dignissimos expedita dolore. Eius nihil architecto quas voluptate cumque ratione est vero quae velit.</textarea>
        </div>
        <div class="opleidingsniveau">
            <label for="opleidingsniveau">Opleidingsniveau:</label>
            <select id="opleidingsNiveau" name="opleidingsNiveau" required>
                <option disabled selected value>HBO</option>
                <option value="MBO">MBO</option>
                <option value="HBO">HBO</option>
                <option value="Universiteit">Universiteit</option>
            </select>
        </div>
        <p>Voorkeuren:</p>

        <div class="functe">
            <label for="functie">Functie:</label>
            <select id="functie" name="functie" required>
                <option disabled selected value>Frontend Development</option>
                <option value="Frontend Development">Frontend Development</option>
                <option value="Content Management">Content Management</option>
                <option value="Visual Interface Design">Visual Interface Design</option>
                <option value="Project Management">Project Management</option>
                <option value="Interaction Design">Interaction Design</option>
                <option value="UX Design">UX Design</option>
                <option value="Backend Development">Backend Development</option>
                <option value="Research">Research</option>
            </select>
        </div>

        <div class="dienstverband">
            <label for="dienstverband">Dienstverband:</label>
            <select id="dienstverband" name="dienstverband" required>
                <option disabled selected value>Parttime</option>
                <option value="Fulltime">Fulltime</option>
                <option value="Parttime">Parttime</option>
                <option value="Freelance">Freelance</option>
                <option value="Stage">Stage</option>
            </select>
        </div>

        <div class="bedrijfs-grootte">
            <label for="bedrijfsgrootte">Bedrijfsgrootte:</label>
            <select id="bedrijfsgrootte" name="bedrijfsgrootte" required>
                <option selected value>0 tot 10</option>
                <option value="0>10">0 tot 10</option>
                <option value="10>50">10 tot 50</option>
                <option value="50+">Boven de 50</option>
            </select>
        </div>

        <input id="bewerkt-verzend-knop" type="submit" value="Gegevens aanpassen">
    </form>



</main>

{{> navigatie-footer}}