<h1>Registreren</h1>
<form action="/registreren" method="POST">

{{#if errors}}
    {{#each errors}}
        <strong>{{this.message}}</strong>
    {{/each}}
{{/if}}
<div>
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required>   
</div>
<div>
    <label for="password">Wachtwoord</label>
    <input type="password" name="password" id="password" required>   
</div>
<div>
    <label for="password2">Bevestig wachtwoord</label>
    <input type="password" name="password2" id="password2" required>
</div>
<button type="submit">Registreren</button>
</form>

<a href="/">Login</a>
