{{> logo-header}}

<main class="resultaten">

    <div>
        <h2 class="functie"></h2>
        <h3 class="bedrijfsnaam"></h3>
        <h4 class="plaatsnaam"></h4>
        <h4 class="salaris"></h4>

        <p></p>

    </div>

    <div>
    </div>

    <div>
    </div>

    <div>
    </div>

</main>

{{> navigatie-footer}}