    <p id="bewerk-knop">Bewerk profiel</p>

    <form class="profiel-gegevens" action="/form" method="post">
        <div class="opleidingsniveau">
            <label for="opleidingsniveau">Opleidingsniveau:</label>
            <select id="select" name="opleidingsNiveau" required>
                <option disabled selected value>HBO</option>
                <option value="MBO">MBO</option>
                <option value="HBO">HBO</option>
                <option value="Universiteit">Universiteit</option>
            </select>
        </div>
        <div class="dienstverband">
            <label for="dienstverband">Dienstverband:</label>
            <select id="select" name="dienstverband" required>
                <option disabled selected value>Parttime</option>
                <option value="Fulltime">Fulltime</option>
                <option value="Parttime">Parttime</option>
                <option value="Freelance">Freelance</option>
                <option value="Stage">Stage</option>
            </select>
        </div>
                <input id="bewerkt-verzend-knop" type="submit" value="Gegevens aanpassen">

    </form>
    