/* Footer met navigatie */

.navigatie-footer {
    background-color: $hoofdkleur;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include display-flex;
    justify-content: space-around;
    padding: 1.5em;

    svg {
        height: 2em;
    }
}