.logo-header {
    @include display-flex;
    justify-content: space-between;
    background-color: $hoofdkleur;
    text-align: center;

    a {
        @include display-flex;
        align-items: center;
    }

    img {
        &.logoff {
            height: 3em;
            padding: 1em;
        }

        &.logo {
            height: 5em;
            margin: 0;
            padding: 0;
            vertical-align: middle;
        }
    }
}