@import "./forms";
@import "./registreren";
@import "./knoppen";

.flex-center {
    @include display-flex;
    align-items: center;
}

@mixin object-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

@mixin box-shadow {
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}