
form {
    position: relative;
    display: block;
    text-decoration: none;
    width: 50%;
    color: $tekstkleur;
    margin: 0 auto;
    font-weight: 600;
    transition: 0.25s;
    font-size: 15px;
    justify-content: center;
    align-content: center;
}