select {
    // border: none;
    // outline: none;
    width: 50%;
    padding: 0.25em 0 0.25em;
    border-radius: 0.25em;
    // pointer-events: none;
    // -webkit-appearance: none;
    // appearance: none;
    float: right;
}

textarea {
    padding: 0.35em 0 0 0.35em;
    margin-bottom: 0;
    width: calc(100% - 0.5em);
    resize: none;
    font-family: sans-serif;
    font-size: 14px;
    // border: none;
    // outline: none;
    // pointer-events: none;
    border-radius: 0.25em;
}

#tester{
    display: block;
}
