button, .card a {
    display: block;
    text-decoration: none;
    appearance: none;
    border: none;
    color: $tekstkleur-knop;
    background-color: $achtergrondkleur-knop;
    cursor: $cursor-knop;
    margin: 0.5em auto;
    padding: 0.8em 3.5em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
    font-size: $font-grootte-knop;
    text-align: center;

    &:hover {
      padding: 0.9em 3.6em;
      font-size: 17px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px;
    }
  }