/* Header met logo */

.logo-header {
    background-color: #FFF021;
    text-align: center;

    img {
        height: 5em;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
}