button, input[type=submit] {
    margin: 2.5em auto;
    width: 50%;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 1em 0;
    border-radius: 0.25em;
    border: none;
    outline: none;
    border-radius: 2em;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        width: 55%;
        font-size: 17px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px;
    }
}