button, input[type=submit] {
    margin: 2.5em auto;
    min-width: 50%;
    background-color: black;
    color: $tekstkleur-knop;
    font-weight: 600;
    padding: 1em 0;
    border: none;
    outline: none;
    border-radius: 2em;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
    text-align: center;

    &:hover {
        padding: 1em 4em;
        font-size: 17px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px;
    }
}