 // Achtergrond kleur
$achtergrondkleur: #FFF021;

// Gebruikte font
$font: "Open Sans";

// Tekstkleur
$tekstkleur: black;

// Tekstkleur van de knoppen
$tekstkleur-knop: white;

// Tekstkleur van de placeholders
$tekstkleur-placeholder: gray;