 /* ------------------------------------------------------------------- */
/*                                   Colors                             */
/* ------------------------------------------------------------------- */
 
 // HTML achtergrond kleur
 $achtergrondkleur-html: #525252;
 
 // Achtergrond kleur
$achtergrondkleur-app: #FFF021;

// Tekstkleur
$tekstkleur: black;

// Tekstkleur van de knoppen
$tekstkleur-knop: white;

// Tekstkleur van de knoppen
$achtergrondkleur-knop: black;

// Tekstkleur van de placeholders
$tekstkleur-placeholder: gray;

// Tekstkleur van de errors
$tekstkleur-error: tomato;


 /* ------------------------------------------------------------------- */
/*                                   Fonts                             */
/* ------------------------------------------------------------------- */

// Gebruikte font
$font: "Open Sans";

