/* ------------------------------------------------------------------- */
/*     (Achtergrond) Kleuren                                           */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/*     Fonts                                                           */
/* ------------------------------------------------------------------- */
strong {
  color: tomato;
  margin: 0.5em auto 2em;
  padding: 0em 1em;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  display: block; }

.resultaten div.error2 strong {
  text-align: center;
  font-size: 20px;
  margin: 2em auto;
  display: block;
  padding: 2em;
  color: tomato; }

div.error2 {
  background-color: white;
  margin: 7em 2em;
  border: tomato solid 1px; }

select {
  width: 50%;
  padding: 0.25em 0 0.25em;
  border-radius: 0.25em;
  float: right; }

textarea {
  padding: 0.35em 0 0 0.35em;
  margin-bottom: 0;
  width: calc(100% - 0.5em);
  resize: none;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 0.25em; }

form {
  position: relative;
  display: block;
  text-decoration: none;
  width: 50%;
  color: black;
  margin: 0 auto;
  transition: 0.25s;
  font-size: 15px;
  justify-content: center;
  align-content: center; }

.inputvelden, .homepagina input, .registreren input {
  padding: 1em;
  display: block;
  border: none;
  border-radius: 1em;
  color: black;
  background-color: white;
  outline-color: gray;
  margin: 0.5em 0; }

button, .card a {
  display: block;
  text-decoration: none;
  appearance: none;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  margin: 0.5em auto;
  padding: 0.8em 3.5em;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
  font-size: 16px;
  text-align: center; }
  button:hover, .card a:hover {
    padding: 0.9em 3.6em;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px; }

.flex-center, .card form, .pFoto, .pFoto > span, .pFoto div, .pFoto div span, main.registreren, main.registreren form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center; }

html {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 414px;
  height: 736px;
  background-color: #525252;
  margin: 5em auto 0 auto; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  width: 414px;
  height: 736px;
  position: relative;
  background-color: white; }

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  background-color: #FFF021;
  text-align: center; }
  .logo-header a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
  .logo-header img.logoff {
    height: 3em;
    padding: 1em; }
  .logo-header img.logo {
    height: 5em;
    margin: 0;
    padding: 0;
    vertical-align: middle; }

/* Footer met navigatie */
.navigatie-footer {
  background-color: #FFF021;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
  /* box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); */ }
  .navigatie-footer svg {
    height: 2em; }

/* Homepagina */
.homepagina {
  background-color: #FFF021;
  height: 100vh;
  text-align: center;
  width: 414px;
  height: 736px; }
  .homepagina img {
    height: 10em;
    margin: 5em 0 1em 0; }
  .homepagina label {
    display: block;
    margin: 0.2em;
    text-align: left; }
  .homepagina div {
    margin: 0.7em auto; }
  .homepagina p {
    display: block;
    margin-top: 3em; }

/* registreer pagina  */
.registreren {
  background-color: #FFF021;
  height: 100vh;
  text-align: center; }
  .registreren strong {
    margin: 0; }
  .registreren strong:last-of-type {
    margin-bottom: 0.5em; }
  .registreren img {
    height: 7.5em;
    margin: 0; }
  .registreren div {
    margin: 0.3em auto; }
  .registreren label {
    display: block;
    margin: 0.2em;
    text-align: left; }
  .registreren h1 {
    display: block;
    margin: 0.5em 0; }

/* Resultaten - Cards */
.resultaten {
  background-image: url(/images/cmd-jobs-achtergrond-10.png);
  background-size: contain;
  width: 414px;
  height: 571px; }

.flex-resultaten {
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  padding: 0 3em; }

::-webkit-scrollbar {
  display: none; }

.resultaten h1 {
  margin: 0;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center; }

#meer-details {
  margin: 0.5em auto;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: calc(100% - 2em); }

.resultaten p {
  font-size: 0.9em; }

.card {
  height: 430px;
  min-width: 300px;
  /* margin: auto; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-right: 2em;
  transition: 0.25s;
  padding: 1em;
  background-color: white;
  position: relative;
  margin-bottom: 1em;
  overflow-y: none; }
  .card h2 {
    margin: 0; }
  .card form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 1em; }
  .card a img {
    width: 3em; }

.resultaten h1 {
  margin: 0;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center; }

.resultaten button {
  display: block;
  text-decoration: none;
  appearance: none;
  border: none;
  color: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0.5em;
  border-radius: 0%;
  box-shadow: none;
  transition: unset;
  font-size: initial; }
  .resultaten button:hover {
    padding: 0.5em;
    font-size: initial;
    box-shadow: none; }

.resultaten .topcardwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* profielToevoegen page */
.profielToevoegen {
  color: black;
  background-color: #FFF021;
  padding: 1em 1em 0 1em;
  overflow-x: hidden;
  height: 656px; }
  .profielToevoegen form {
    margin: 0em; }

.form-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200vw;
  transition: transform .25s ease;
  transform: translateX(0); }

.profielToevoegen fieldset {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  min-inline-size: initial; }

.pFoto {
  width: fit-content;
  color: white; }
  .pFoto > span {
    height: fit-content;
    font-size: .9em;
    margin-left: 1.5em;
    background-color: black;
    padding: .6em 1.2em;
    border-radius: 2.4em;
    cursor: pointer; }
    .pFoto > span img {
      height: 1em; }
  .pFoto p {
    display: inline-block;
    height: fit-content;
    margin: 0;
    margin-left: 1em;
    text-decoration: underline; }
  .pFoto div {
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

#visable-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pFoto div > img {
  height: 6em;
  width: 6em;
  object-fit: cover;
  border-radius: 5em;
  transition: opacity ease .4s; }

.pFoto div span {
  background-color: rgba(0, 0, 0, 0.5);
  width: 6em;
  height: 6em;
  border-radius: 5em;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease .2s;
  cursor: pointer; }
  .pFoto div span > img {
    position: absolute;
    height: 2.3em;
    pointer-events: none; }
  .pFoto div span:hover {
    opacity: 1;
    transition: opacity ease .4s; }

> div {
  width: 100%;
  display: none; }

> a {
  display: none;
  font-size: 1em;
  margin-top: 1em;
  background-color: black;
  color: white;
  padding: .8em 1.5em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: background-color .25s ease, color .25s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

#visable-inline-block {
  display: inline-block; }

/* Slider rondjes */
.profielToevoegen > div:last-of-type {
  position: relative;
  display: none;
  margin-top: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .profielToevoegen > div:last-of-type span {
    cursor: pointer;
    width: .8em;
    height: .8em;
    margin: .2em;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4); }
  .profielToevoegen > div:last-of-type .formActive {
    background-color: black;
    transform: scale(1.3); }

.error {
  background-color: tomato !important; }

/* --------------- REGISTREREN PAGINA ------------ */
main.registreren {
  background-color: #FFF021;
  width: 414px;
  height: 736px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  main.registreren form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main.registreren form div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }

.logo-header img.logoff {
  height: 3em;
  padding: 1em; }

/* Profiel pagina */
.profiel-pagina {
  font-family: sans-serif;
  overflow-y: scroll;
  height: 656px; }
  .profiel-pagina .profiel-foto {
    text-align: center;
    background-image: url(/images/cmd-jobs-achtergrond-10.png);
    background-size: cover;
    padding: 2.5em 0 1.5em;
    position: relative; }
    .profiel-pagina .profiel-foto img {
      height: 7.5em;
      width: 7.5em;
      object-fit: cover;
      background-color: #FFF021;
      border-radius: 50%;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .profiel-pagina .profiel-foto h1 {
      margin: 0;
      margin-top: 1em;
      padding: 0;
      font-size: 22px;
      font-weight: 100;
      text-transform: uppercase;
      font-weight: 600; }
    .profiel-pagina .profiel-foto .bewerk-knop {
      background-color: black;
      display: block;
      padding: 1.1em 1.25em;
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 black;
      position: sticky;
      top: 3em;
      right: 3em;
      position: absolute;
      display: none; }
      .profiel-pagina .profiel-foto .bewerk-knop svg {
        height: 1.5em;
        width: 1.2em;
        vertical-align: middle;
        fill: white;
        transition: 0.25s; }
      .profiel-pagina .profiel-foto .bewerk-knop:hover {
        transition: 0.25s;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); }
  .profiel-pagina .profiel-gegevens {
    margin: 2em;
    padding-bottom: 5em;
    width: auto;
    text-align: initial; }
    .profiel-pagina .profiel-gegevens label {
      margin-bottom: 0.5em;
      font-weight: 600;
      font-size: 16px;
      display: inline;
      padding-right: 1em;
      vertical-align: middle;
      display: inline-block; }
    .profiel-pagina .profiel-gegevens fieldset {
      margin: 2em 0 1.5em;
      padding: 0;
      border: none; }
      .profiel-pagina .profiel-gegevens fieldset legend {
        margin: 0;
        padding: 0;
        margin-bottom: 0.5em;
        font-size: 18px;
        text-decoration: underline; }

.bewerk-textarea {
  padding: 0.35em 0 0 0.35em; }

.js-aan-textarea {
  padding: 0;
  border: none;
  outline: none;
  pointer-events: none; }

.js-aan-select {
  border: none;
  outline: none;
  padding: 0.25em;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none; }

.js-aan-verzendknop {
  display: none; }

.js-aan-bewerkknop {
  display: block !important; }
