@import "./abstracts/abstracts";
@import "./components/components";
@import "./layouts/layouts";

/* Homepagina */

.homepagina {
  background-color: $hoofdkleur;
  height: 100vh;
  text-align: center;
  width: 414px;
  height: 736px;

  img {
    height: 10em;
    margin: 5em 0 1em 0;
  }

  label {
    display: block;
    margin: 0.2em;
    text-align: left;
  }

  div {
    margin: 0.7em auto;
  }

  input {
    @extend .inputvelden;
  }

  p {
    display: block;
    margin-top: 3em;
  }
}

/* registreer pagina  */

.registreren {
  strong {
    margin: 0;
  }

  strong:last-of-type {
    margin-bottom: 0.5em;
  }

  background-color: $hoofdkleur;
  height: 100vh;
  text-align: center;

  img {
    height: 7.5em;
    margin: 0;
  }

  div {
    margin: 0.3em auto;
  }

  input {
    @extend .inputvelden;
  }

  label {
    display: block;
    margin: 0.2em;
    text-align: left;
  }

  h1 {
    display: block;
    margin: 0.5em 0;
  }
}

/* Resultaten - Cards */

.resultaten {
  background-image: $achtergrond-foto;
  background-size: contain;
  width: 414px;
  height: 571px;
}

.flex-resultaten {
  overflow-x: scroll;
  overflow-y: hidden;
  @include display-flex;
  flex-direction: row;
  padding: 0 3em;
}

::-webkit-scrollbar {
  display: none;
}

.resultaten h1 {
  margin: 0;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center;
}

#meer-details {
  margin: 0.5em auto;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: calc(100% - 2em);
}

.resultaten p {
  font-size: 0.9em;
}

.card {

  h2 {
    margin: 0;
  }

  form {
    @include flex-direction-column;
    @include justify-content;
    @extend .flex-center;
    margin: 0 1em;
  }

  a img {
    width: 3em;
  }

  height: 430px;
  min-width: 300px;

  /* margin: auto; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-right: 2em;
  transition: 0.25s;
  padding: 1em;
  background-color: $achtergrondkleur-cards;
  position: relative;
  margin-bottom: 1em;
  overflow-y: none;
}

.resultaten h1 {
  margin: 0;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center;
}

.resultaten {

  button {
    display: block;
    text-decoration: none;
    appearance: none;
    border: none;
    color: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0.5em;
    border-radius: 0%;
    box-shadow: none;
    transition: unset;
    font-size: initial;

    &:hover {
      padding: 0.5em;
      font-size: initial;
      box-shadow: none;
    }
  }

  .topcardwrapper {
    @include display-flex;
  }
}

/* profielToevoegen page */

.profielToevoegen {
  color: $tekstkleur;
  background-color: $hoofdkleur;
  padding: 1em 1em 0 1em;
  overflow-x: hidden;
  height: 656px;

  form {
    margin: 0em;
  }
}

.form-split {
  @include display-flex;
  width: 200vw;
  transition: transform .25s ease;
  transform: translateX(0);
}

.profielToevoegen fieldset {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  min-inline-size: initial;
}

.pFoto {
  width: fit-content;
  @extend .flex-center;
  color: $tekstkleur-knop;

  >span {
    @extend .flex-center;
    height: fit-content;
    font-size: .9em;
    margin-left: 1.5em;
    background-color: $achtergrondkleur-knop;
    padding: .6em 1.2em;
    border-radius: 2.4em;
    cursor: pointer;

    img {
      height: 1em;
    }
  }

  p {
    display: inline-block;
    height: fit-content;
    margin: 0;
    margin-left: 1em;
    text-decoration: underline;
  }

  div {
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 5em;
    @extend .flex-center;
    @include justify-content;
  }
}

#visable-flex {
  @include display-flex;
}

.pFoto div {
  >img {
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 5em;
    transition: opacity ease .4s;
  }

  span {
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 6em;
    height: 6em;
    border-radius: 5em;
    position: absolute;
    @include justify-content;
    @extend .flex-center;
    opacity: 0;
    transition: opacity ease .2s;
    cursor: pointer;

    >img {
      position: absolute;
      height: 2.3em;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
      transition: opacity ease .4s;
    }
  }
}

// .profielToevoegen {
//   input {
//     &[name="pFoto"] {
//       @include display-flex;
//       opacity: 0;
//       margin-top: -20px;
//     }

//     &[type=text],
//     &[type=number] {
//       @extend .inputvelden;
//       margin: 0;
//     }
//   }

//   textarea,
//   select {
//     @extend .inputvelden;
//     outline: initial;
//     width: initial;
//     pointer-events: unset;
//     -webkit-appearance: auto;
//     appearance: auto;
//   }

//   textarea {
//     font-family: $font;
//     margin: 0;
//     margin-bottom: 0;
//     resize: none;
//     outline: initial;
//     pointer-events: unset;
//     width: 22em;
//   }

//   input {
//     &[type=submit] {
//       @include display-flex;
//       font-size: 1em;
//       transform: translateX(-1em);
//       margin: 2em 0 0 1em;
//       background-color: $achtergrondkleur-knop;
//       color: $tekstkleur-knop;
//       padding: .8em 1.5em;
//       border: none;
//       border-radius: 2em;
//       cursor: pointer;
//       font-weight: $dikgedrukt;
//       transition: background-color .25s ease, color .25s ease;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//       appearance: none;
//     }

//     &[type=number] {
//       width: 3em;
//     }
//   }
// }

> {
  div {
    width: 100%;
    display: none;
  }

  a {
    display: none;
    font-size: 1em;
    margin-top: 1em;
    background-color: $achtergrondkleur-knop;
    color: $tekstkleur-knop;
    padding: .8em 1.5em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-weight: $dikgedrukt;
    text-decoration: none;
    transition: background-color .25s ease, color .25s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

#visable-inline-block {
  display: inline-block;
}

// .profielToevoegen {
//   legend {
//     font-weight: $dikgedrukt;
//     font-size: 1.5em;
//   }

//   .volgendeForm {
//     transition: transform .25s ease;
//     transform: translateX(-100vw);
//   }

//   section:first-of-type {
//     @include display-flex;

//     input {
//       width: 10em;
//     }

//     div:first-of-type {
//       margin-right: 1em;
//     }
//   }

//   select[name="Dienstverband"] {
//     width: 35%;
//   }
// }

// select[name="Bedrijfsgrootte"] {
//   width: 35%;
// }

/* Slider rondjes */

.profielToevoegen>div:last-of-type {
  position: relative;
  display: none;
  margin-top: 1em;
  @include justify-content;
  width: 100%;

  span {
    cursor: pointer;
    width: .8em;
    height: .8em;
    margin: .2em;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .formActive {
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.3);
  }
}

.error {
  background-color: $tekstkleur-error !important;
}


/* --------------- REGISTREREN PAGINA ------------ */
main.registreren {
  background-color: $hoofdkleur;
  width: 414px;
  height: 736px;
  @extend .flex-center;
  @include flex-direction-column;
  @include justify-content;

  form {
    @include flex-direction-column;
    @include justify-content;
    @extend .flex-center;

    div {
      @include display-flex;
      @include flex-direction-column;
    }
  }
}



.logo-header img.logoff {
  height: 3em;
  padding: 1em;
}


// MIJN EIGEN COOLE SCSS STUKJE

/* Profiel pagina */
.profiel-pagina {
  font-family: sans-serif;
  overflow-y: scroll;
  height: 656px;

  .profiel-foto {
    text-align: center;
    background-image: url(/images/cmd-jobs-achtergrond-10.png);
    background-size: cover;
    padding: 2.5em 0 1.5em;
    position: relative;

    img {
      height: 7.5em;
      width: 7.5em;
      @include object-fit-cover;
      background-color: $hoofdkleur;
      border-radius: 50%;
      @include box-shadow;
    }

    h1 {
      margin: 0;
      margin-top: 1em;
      padding: 0;
      font-size: 22px;
      font-weight: 100;
      text-transform: uppercase;
      font-weight: $dikgedrukt;
    }

    .bewerk-knop {

      &:hover {
        @include transition;
        @include box-shadow;
      }
    }
  }

  .profiel-gegevens {
    margin: 2em;
    padding-bottom: 5em;
    width: auto;
    text-align: initial;

    label {
      margin-bottom: 1em;
      font-weight: $dikgedrukt;
      font-size: 16px;
      display: inline;
      padding-right: 1em;
      vertical-align: middle;
      display: inline-block;
    }

    textarea {
      margin: -0.5em 0 0.25em;
    }

    fieldset {
      margin: 2em 0 1.5em;
      padding: 0;
      border: none;

      legend {
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
        font-size: 18px;
        text-decoration: underline;
      }
    }
  }
}



// PROFIEL 2

.profiel-pagina {

  .profiel-gegevens2 {
    margin: 2em;
    padding-bottom: 5em;
    width: auto;
    text-align: initial;

    div:not(:first-child) {
      margin-top: 1em;
      @include display-flex;
      justify-content: space-between;
    }

    label {
      font-weight: $dikgedrukt;
      font-size: 16px;
      display: inline;
      padding-right: 1em;
      vertical-align: middle;
      display: inline-block;
    }

    fieldset {
      margin: 2em 0 1.5em;
      padding: 0;
      border: none;

      legend {
        margin: 0;
        padding: 0;
        font-size: 18px;
        text-decoration: underline;
      }
    }
  }

  .select {
    float: none;
  }
}



// PROFIEL 3

.profiel-pagina {

  .bewerk-knop3 {
    @extend .bewerk-knop;
    display: block;
    cursor: pointer;
  }

  .profiel-gegevens3 {
    margin: 2em;
    padding-bottom: 5em;
    width: auto;
    text-align: initial;

    div:not(:first-child) {
      margin-top: 1em;
      @include display-flex;
      justify-content: space-between;
    }

    label {
      font-weight: $dikgedrukt;
      font-size: 16px;
      display: inline;
      padding-right: 1em;
      vertical-align: middle;
      display: inline-block;
    }

    textarea {
      padding: 0;
      border: none;
      outline: none;
      pointer-events: none;
    }

    select {
      border: none;
      outline: none;
      padding: 0.25em;
      pointer-events: none;
      @include appearance-none;
    }

    #bewerkt-verzend-knop {
      display: none;
    }

    fieldset {
      margin: 2em 0 1.5em;
      padding: 0;
      border: none;

      legend {
        margin: 0;
        padding: 0;
        font-size: 18px;
        text-decoration: underline;
      }
    }
  }

  .select {
    float: none;
  }
}



// PROGRESSIVE ENHANCEMENT

.bewerk-textarea {
  padding: 0.35em 0 0 0.35em;
}

.js-aan-textarea {
  padding: 0;
  border: none;
  outline: none;
  pointer-events: none;
}

.js-aan-select {
  border: none;
  outline: none;
  padding: 0.25em;
  pointer-events: none;
  @include appearance-none;
}

.js-aan-verzendknop {
  display: none;
}

.js-aan-bewerkknop {
  @extend .bewerk-knop;
  display: block;
}