@import "./abstracts/abstracts";
@import "./components/components";
@import "./layouts/layouts";

/* Homepagina */

.homepagina {
  background-color: $hoofdkleur;
  height: 100vh;
  text-align: center;
  width: 414px;
  height: 736px;

  img {
    height: 10em;
    margin: 5em 0 1em 0;
  }

  label {
    display: block;
    margin: 0.2em;
    text-align: left;
  }

  div {
    margin: 0.7em auto;
  }

  input {
    @extend .inputvelden;
  }

  p {
    display: block;
    margin-top: 3em;
  }
}

/* registreer pagina  */

.registreren {
  strong {
    margin: 0;
  }

  strong:last-of-type {
    margin-bottom: 0.5em;
  }

  background-color: $hoofdkleur;
  height: 100vh;
  text-align: center;

  img {
    height: 7.5em;
    margin: 0;
  }

  div {
    margin: 0.3em auto;
  }

  input {
    @extend .inputvelden;
  }

  label {
    display: block;
    margin: 0.2em;
    text-align: left;
  }

  h1 {
    display: block;
    margin: 0.5em 0;
  }
}

/* Resultaten - Cards */

.resultaten {
  background-image: $achtergrond-foto;
  background-size: contain;
  width: 414px;
  height: 571px;
}

.flex-resultaten {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 3em;
}

::-webkit-scrollbar {
  display: none;
}

.resultaten h1 {
  margin: 0;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center;
}

#meer-details {
  margin: 0.5em auto;
  text-align: center;
  position: sticky;
  bottom: 0;
  width: calc(100% - 2em);
}

.resultaten p {
  font-size: 0.9em;
}

.card {

  h2 {
    margin: 0;
  }

  form {
    flex-direction: column;
    justify-content: center;
    @extend .flex-center;
    margin: 0 1em;
  }

  a img {
    width: 3em;
  }

  height: 430px;
  min-width: 300px;

  /* margin: auto; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-right: 2em;
  transition: 0.25s;
  padding: 1em;
  background-color: $achtergrondkleur-cards;
  position: relative;
  margin-bottom: 1em;
  overflow-y: none;
}

.resultaten h1 {
  margin: 0;
  padding: 0.5em 0;
  margin: 0 auto;
  text-align: center;
}

.resultaten {

  button {
    display: block;
    text-decoration: none;
    appearance: none;
    border: none;
    color: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0.5em;
    border-radius: 0%;
    box-shadow: none;
    transition: unset;
    font-size: initial;

    &:hover {
      padding: 0.5em;
      font-size: initial;
      box-shadow: none;
    }
  }

  .topcardwrapper {
    display: flex;
  }
}

/* profielToevoegen page */

.profielToevoegen {
  color: $tekstkleur;
  background-color: $hoofdkleur;
  padding: 1em 1em 0 1em;
  overflow-x: hidden;
  height: 656px;

  form {
    margin: 0em;
  }
}

.form-split {
  display: flex;
  width: 200vw;
  transition: transform .25s ease;
  transform: translateX(0);
}

.profielToevoegen fieldset {
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  min-inline-size: initial;
}

.pFoto {
  width: fit-content;
  @extend .flex-center;
  color: $tekstkleur-knop;

  >span {
    @extend .flex-center;
    height: fit-content;
    font-size: .9em;
    margin-left: 1.5em;
    background-color: $achtergrondkleur-knop;
    padding: .6em 1.2em;
    border-radius: 2.4em;
    cursor: pointer;

    img {
      height: 1em;
    }
  }

  p {
    display: inline-block;
    height: fit-content;
    margin: 0;
    margin-left: 1em;
    text-decoration: underline;
  }

  div {
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 5em;
    @extend .flex-center;
    justify-content: center;
  }
}

#visable-flex {
  display: flex;
}

.pFoto div {
  >img {
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 5em;
    transition: opacity ease .4s;
  }

  span {
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 6em;
    height: 6em;
    border-radius: 5em;
    position: absolute;
    justify-content: center;
    @extend .flex-center;
    opacity: 0;
    transition: opacity ease .2s;
    cursor: pointer;

    >img {
      position: absolute;
      height: 2.3em;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
      transition: opacity ease .4s;
    }
  }
}

.profielToevoegen {
  input {
    &[name="pFoto"] {
      display: flex;
      opacity: 0;
      margin-top: -20px;
    }

    &[type=text],
    &[type=number] {
      padding: 1em;
      display: block;
      border: none;
      border-radius: 1em;
      color: $tekstkleur;
      background-color: white;
      font-weight: 500;
      outline-color: grey;
    }
  }

  textarea,
  select {
    padding: 1em;
    display: block;
    border: none;
    border-radius: 1em;
    color: $tekstkleur;
    background-color: white;
    font-weight: 500;
    outline-color: grey;
    outline: initial;
    width: initial;
    pointer-events: unset;
    -webkit-appearance: auto;
    appearance: auto;
  }

  input {

    &[type=text]::placeholder,
    &[type=number]::placeholder {
      color: grey;
      font-weight: 500;
    }
  }

  textarea::placeholder,
  select::placeholder {
    color: grey;
    font-weight: 500;
  }

  textarea {
    // resize: vertical;
    font-family: "Open Sans";

    margin: 0;
    margin-bottom: 0;
    resize: none;
    outline: initial;
    pointer-events: unset;
    width: 22em;
    // padding: 0;
  }

  input {
    &[type=submit] {
      display: flex;
      font-size: 1em;
      transform: translateX(-1em);
      margin: 2em 0 0 1em;
      background-color: $achtergrondkleur-knop;
      color: $tekstkleur-knop;
      padding: .8em 1.5em;
      border: none;
      border-radius: 2em;
      cursor: pointer;
      font-weight: bold;
      transition: background-color .25s ease, color .25s ease;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &[type=number] {
      width: 3em;
    }
  }

  label {
    display: flex;
    margin-top: 1em;
    margin-bottom: .2em;
  }

  > {
    div {
      width: 100%;
      display: none;
    }

    a {
      display: none;
      font-size: 1em;
      margin-top: 1em;
      background-color: $achtergrondkleur-knop;
      color: $tekstkleur-knop;
      padding: .8em 1.5em;
      border: none;
      border-radius: 2em;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
      transition: background-color .25s ease, color .25s ease;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

#visable-inline-block {
  display: inline-block;
}

.profielToevoegen {
  legend {
    font-weight: bold;
    font-size: 1.5em;
  }

  .volgendeForm {
    transition: transform .25s ease;
    transform: translateX(-100vw);
  }

  section:first-of-type {
    display: flex;

    input {
      width: 10em;
    }

    div:first-of-type {
      margin-right: 1em;
    }
  }

  select[name="Dienstverband"] {
    width: 35%;
  }
}

select[name="Bedrijfsgrootte"] {
  width: 35%;
}

/* Slider rondjes */

.profielToevoegen>div:last-of-type {
  position: relative;
  display: none;
  margin-top: 1em;
  justify-content: center;
  width: 100%;

  span {
    cursor: pointer;
    width: .8em;
    height: .8em;
    margin: .2em;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .formActive {
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.3);
  }
}

.error {
  background-color: #ff5e00 !important;
}


/* --------------- REGISTREREN PAGINA ------------ */
main.registreren {
  background-color: $hoofdkleur;
  width: 414px;
  height: 736px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    flex-direction: column;
    justify-content: center;
    @extend .flex-center;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}



.logo-header img.logoff {
  height: 3em;
  padding: 1em;
}

/* Profiel pagina */
.profiel-pagina {
  font-family: sans-serif;
  overflow-y: scroll;
  height: 656px;
}

.profiel-foto {
  text-align: center;
  background-image: url(/images/cmd-jobs-achtergrond-10.png);
  background-size: cover;
  padding: 2.5em 0 1.5em;
  position: relative;
}

.profiel-foto img {
  height: 7.5em;
  width: 7.5em;
  object-fit: cover;
  background-color: $hoofdkleur;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profiel-foto h1 {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  font-size: 22px;
  font-weight: 100;
  text-transform: uppercase;
  font-weight: Bolder;
}


#bewerk-knop {
  background-color: $achtergrondkleur-knop;
  display: block;
  padding: 1.1em 1.25em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 20%);
  position: sticky;
  top: 3em;
  right: 3em;
  position: absolute;
}

#bewerk-knop svg {
  height: 1.5em;
  width: 1.2em;
  vertical-align: middle;
  fill: $tekstkleur-knop;
  transition: 0.25s;
}

#bewerk-knop:hover {
  transition: 0.25s;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}






/* Profiel Form */

.profiel-gegevens {
  margin: 2em;
  padding-bottom: 5em;
  width: auto;
  text-align: initial;
}

.profiel-pagina label {
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 16px;
  display: inline;
  padding-right: 1em;
  vertical-align: middle;
}

textarea {
  margin: 1em 0;
  margin-bottom: 0;
  width: calc(100% - 0.5em);
  resize: none;
  font-family: sans-serif;
  font-size: 14px;
  border: none;
  outline: none;
  pointer-events: none;
  padding: 0;
  border-radius: 0%;
}

.profiel-gegevens div:not(:first-child) {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

.profiel-gegevens p {
  margin-top: 1.5em;
  font-size: 18px;
}

.profiel-gegevens p {
  margin-top: 1.5em;
  font-size: 18px;
}

select {
  border: none;
  outline: none;
  width: 50%;
  pointer-events: none;
  padding-left: 0.3em;
  border-radius: 0.25em;
  -webkit-appearance: none;
  appearance: none;
}


.bewerk-textarea {
  border: 1px solid $tekstkleur;
  outline: unset;
  pointer-events: unset;
  padding: 0.25em;
  border-radius: 0.25em;
}

.bewerk-select {
  border: 1px solid $tekstkleur;
  outline: unset;
  pointer-events: unset;
  border-radius: 0.25em;
  -webkit-appearance: auto;
  appearance: auto;
}

#bewerkt-verzend-knop {
  display: none;
  margin-top: 1.5em;
}

.laat-bewerkt-verzend-knop-zien {
  display: block !important;
}