body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

/* Homepagina */
.homepagina {
    background-color: #FFF021;
    height: 100vh;
    text-align: center;
}

.homepagina img {
    height: 20em;
    margin: 7.5em auto;
}

/* .homepagina svg {
    height: 25em;
    margin: 7.5em auto;
}

.cls-2{
    font-size: 180px;
    font-family: Montserrat-Bold, Montserrat;
    font-weight: 700;
} */

.homepagina a {
    display: block;
    text-decoration: none;
    width: 50%;
    color: white;
    background-color: black;
    margin: 0 auto;
    padding: 0.75em 0;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
    transition: 0.25s;
}

.homepagina a:hover {
    width: 55%;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 4px;
}



/* Header met logo */
.logo-header {
    background-color: #FFF021;
    text-align: center;
}

.logo-header img {
    height: 5em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}



/* Footer met navigatie */
.navigatie-footer {
    background-color: #FFF021;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
    /* box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5); */
    ;
}

.navigatie-footer svg {
    height: 2em;
}

/* Resultaten - Cards */
.resultaten {
    padding-top: 4em;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    background-image: url(/images/cmd-jobs-achtergrond-10.png);
    /* background-color: #FFF021; */
    /* background-color: #fff02163; */
    background-size: contain;
    height: calc(100vh - 10em);
}

::-webkit-scrollbar {
    display: none;
}

.resultaten div {
    height: 500px;
    min-width: 350px;
    /* margin: auto; */
    background-color: #F4F4F4;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    margin-right: 2em;
    transition: 0.25s;
}

.resultaten div:first-child {
    margin-left: 4em;
}

.resultaten div:hover {
    transform: translateY(-5%)
}



/* Profiel pagina */

.profiel-pagina {
    font-family: sans-serif;
    overflow-y: scroll;
}

.profiel-foto {
    text-align: center;
    background-image: url(/images/cmd-jobs-achtergrond-10.png);
    background-size: cover;
    padding: 2.5em 0 1.5em;
}

.profiel-foto img {
    height: 7.5em;
    /* background-color: rgb(231, 231, 231); */
    background-color: rgb(123, 184, 123);
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profiel-foto h1 {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: Bolder;
}


#bewerk-knop{
    background-color: black;
    display: inline;
    padding: 1.25em;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3em;
    margin-top: 7.5em;
}

/* #bewerk-knop p{
    display: inline;
    margin-top: 1em;
} */

#bewerk-knop svg {
    height: 1.5em;
    vertical-align: middle;
    fill: white;
    transition: 0.25s;
}

#bewerk-knop:hover {
    transition: 0.25s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}



/* Profiel Form */

.profiel-gegevens {
    margin: 2em;
    margin-bottom: 7.5em;
}

label {
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 16px;
    display: inline;
    padding-right: 1em;
    vertical-align: middle;
}

textarea {
    margin: 1em 0;
    margin-bottom: 0;
    width: calc(100% - 0.5em);
    resize: none;
    font-family: sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    pointer-events: none;
    padding: 0;
}

.profiel-gegevens div:not(:first-child) {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.profiel-gegevens p {
    margin-top: 1.5em;
    font-size: 18px;
}

select {
    border: none;
    outline: none;
    width: 50%;
    pointer-events: none;
    padding-left: 0.3em;
    border-radius: 0.25em;
    -webkit-appearance: none;
    appearance: none;
}

#bewerkt-verzend-knop {
    margin: 2.5em auto;
    width: 50%;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 1em 0;
    border-radius: 0.25em;
    border: none;
    outline: none;
    border-radius: 2em;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.bewerk-textarea {
    border: 1px solid black;
    outline: unset;
    pointer-events: unset;
    padding: 0.25em;
    border-radius: 0.25em;
}

.bewerk-select {
    border: 1px solid black;
    outline: unset;
    pointer-events: unset;
    border-radius: 0.25em;
    -webkit-appearance:auto;
    appearance:auto;
}

.laat-bewerkt-verzend-knop-zien{
    display: block !important;
}
